<p>Hello Domains</p>

<div style="padding-left: 0px;">
    <div class="container">
        <h2 class="text-center">A list of {domain name} Questions and Answers.</h2>
 
        
<!--
        <ul ng-repeat="t in qandas track by $index" style="list-style-type: none;" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
            <li style="font-size: 16px; font-text: bold; color: blue;">{{t.question.qtext}}</li>
        <span ng-show="hoverEdit" class="animate-show" style="float: right;">
            <i class="glyphicon glyphicon-trash" data-ng-click="delete($index)"></i>
            <i class="glyphicon glyphicon-pencil" data-ng-click="edit(t)"></i>
        </span>
            <li style="font-size: 14px;">{{t.answer.atext}}</li>
        </ul>
-->
        
<!--        <div click-to-edit datasource="interviews" add="addQuestion(questiontext, answer)"></div>-->
</div>
</div>


